{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
      'import',
      'react',
    ],
    "rules": {
        prefer-const: 'error',
        no-new-object: 'error',
        no-array-constructor: 'error',
        quotes: 'error',
        template-curly-spacing: "error",
        func-style: ["error", "declaration", { "allowArrowFunctions": true }],
        no-param-reassign: "error",
        space-before-function-paren: "error",
        prefer-arrow-callback: "error",
        no-confusing-arrow: "error",
        no-dupe-class-members: "error",
        no-iterator: "error",
        dot-notation: "error",
        no-plusplus: "error",
        space-before-blocks: "error",
        keyword-spacing: ["error", { "before": true }],
        eol-last: ["error", "always"],
        newline-per-chained-call: ["error", { "ignoreChainWithDepth": 3 }],
        padded-blocks: ["error", "never"],
        space-in-parens: ["error", "never"],
        array-bracket-spacing: ["error", "never"],
        object-curly-spacing: ["error", "always"],
        comma-style: ["error", "last"],
        comma-dangle: ["error", "always"],
        semi: "error",
        no-multi-spaces: "error",
        id-length: ["error", { exceptions: ['_'] } ],
        camelcase: ["error", {properties: "never"}],
        new-cap: "error",
        no-underscore-dangle: ["error", { "allow": ["_id"] }],
        import/first: 'error',
        import/prefer-default-export: 'error',
        import/no-mutable-exports: 'error',
        react/jsx-pascal-case: ['error', { allowAllCaps: true }],
        react/jsx-closing-bracket-location: 'error',
        react/jsx-wrap-multilines: 'error',
        react/self-closing-comp: ["error", { "component": true, "html": false }],
        react/jsx-curly-spacing: ["error", "never"],
        react/jsx-no-bind: 'error',
        react/require-render-return: 'error'
    }
}
